@font-face{
    font-family: font1;
    src: url(../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf);

    
}

@font-face{
    font-family: font2;
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}